@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles list";
}

<h2>Roles list</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>
                @role.Name
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = role.Id })
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add role</a>
<a asp-action="UserList">User list</a>
